/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #FBF9F5;
  /* add this margin since header pisition is fixed */
  margin-top: 100px;

}



@font-face {
  font-family: 'RecifeText';
  src: url('fonts/RecifeText_Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

h1{
  font-size: 2.4rem;
  font-family: 'RecifeText', sans-serif;
}

h2{
  font-family: Arial, sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
}

h3{
  font-family: Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

p{
  font-family: Arial, sans-serif;

}

li{
  font-family: Arial, sans-serif;
  font-weight: 400;

}


/* Navigation Bar Styles */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000; /* Ensure it stays above other elements */
  padding: 1em 0;
  /* Retain other styles as needed */
}

.header ul {
  list-style: none;
  display: flex;
  justify-content: right;
}

.header li {
  margin: 0 1.5em;
}

.header a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.header a:hover,
.header a.active {
  text-decoration: underline;
}

.applyButtonHeader {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove border */
    color: white; /* White text */
    border-radius: 10px;
    width: 100px;
}

.applyButtonHeader:hover {
    background-color: white; /* White background on hover */
    color: #4CAF50; /* Green text on hover */
}

.homeContainer{
  margin: 30px auto 50px auto;
  width: 70%;
}

/* Main Container Styles */
.applicationProcessContainer {
    text-align: left;
    margin: 30px auto 50px auto;
    width: 70%;
  /* text-align: center; */
}

.applicationProcessContainer h1 {
  /* font-size: 2.5em; */
}

.applicationProcessContainer p {
  font-size: 1.5em;
  color: #666;
}

.sectionTitle{
  margin-top: 2em;

}

/* Learning Facilitators Section */
.learningFacilitators {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2em 0;
}

.learningFacilitators .mainBlock {
  flex: 2;
  margin-right: 1em;
  background-color: white;
  box-sizing: border-box;
}

.learningFacilitators .secondaryBlock {
  flex: 1;
  background-color: white;
  padding: 0em;
  box-sizing: border-box;
}

.learningFacilitators h2 {
  margin-top: 0;
}

.learningFacilitators p {
  font-size: 1em;
  color: #333;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .learningFacilitators {
    flex-direction: column;
  }

  .learningFacilitators .mainBlock,
  .learningFacilitators .secondaryBlock {
    flex: none;
    margin-right: 0;
    margin-bottom: 1em;
  }
}

.facultyImage {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Styles for each block */
.programOverview {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

/* Styles for each block */
.programOverviewBoxes {
  background-color: #f0f0f0;
  padding: 1em;
  flex: 1 1 calc(33.333% - 1em); /* Occupies one-third of the container */
  /* margin: 0.5em; */
  box-sizing: border-box;
  text-align: center;
  text-align: left;

}

.programOverviewBoxes ul li {
  margin-bottom: 0.5em;
  list-style-type: none;
}

.programOverviewBoxes .keyHeading {
  font-size: 1em;
  margin-bottom: 0.5em;
}



/* Responsive adjustments */
@media (max-width: 768px) {
  .programOverview {
    flex-direction: column;
    align-items: center;
  }

  .programOverviewBoxes {
    flex: 1 1 100%;
  }
}

/* Styles for the info sections */
.infoSection {
  display: flex;
  width: 100%;
  margin: 2em 0;
  white-space: pre-wrap;
  

}

.infoSection .left {
  width: 30%;
  padding: 1em;
  background-color: #f0f0f0;
}

.infoSection .right {
  width: 70%;
  padding: 1em;
  background-color: #e0e0e0;
}

.infoSection h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.infoSection p {
  font-size: 1em;
  color: #333;
}

.applicationFormContainer{
    text-align: left;
    margin: 30px auto 50px auto;
    width: 100%;
}

.applicationButton {
    display: inline-block;
    padding: 0.75em 1.5em;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    align-items: center;
  }
  
  .applicationButton:hover {
    background-color: #555;
  }

  .applicationProcessButton {
    display: inline-block;
    padding: 0.75em 1.5em;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    align-items: center;
  }



/* Footer Styles */
.footerComponent {
    background-color: #333;
    color: black;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footerContent {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2em;

}

.footerComponent p {
    margin-bottom: 0.5em;
}

.footerNav a {
    color: black;
    text-decoration: none;
    margin: 0 0.5em;
}

.footerNav a:hover {
    text-decoration: underline;
}

.faqsContainer{
    text-align: left;
    margin: 30px auto 50px auto;
    width: 70%;

}

/* Add this to your existing CSS file */
.faqsContainer p {
    white-space: pre-wrap;
}


.faqsContainer li{
    list-style-type: none
}
